SPF check failed (Result wrong)

Hi,
from my understanding of RFC 7208 Section 5.2
an SPF include produces an permerror if invalid.

The command line tool spfquery gives also:
Received-SPF: permerror (eskinazi.co.uk: Included domain 'spf.trustcloudservices.co.uk' has no applicable sender policy) 

but 
https://www.hardenize.com/report/eskinazi.co.uk/1518471991#email_spf
says: "SPF policy is valid"

For my understanding this is wrong

Kind regards
    Torsten

Indeed, I believe you're right. This has now been fixed in the most recent release: https://www.hardenize.com/report/eskinazi.co.uk

Thanks!